body {
  font-size: 14pt;
  padding:2em;
}

.fleft {float: left;}
.fright {float: right;}

.tiny {font-size: 0.8em;}
.mono {font-family: monospace, 'Courier New', Courier}

.error, .error * {
  border: 1px solid red;
}
.error, .error * {
  background-color: rgb(221, 148, 148);
}

.w120 {width: 120px;}
.w180 {width: 180px;}
.w200 {width: 200px;}

sup {
  font-weight: normal!important;
  margin-left: 4px;
}

span[onclick] {
  color: darkblue;
  cursor: pointer;
}

ul.contains-task-list {
  list-style: none;
}

div#dev-light {
  position: fixed;
  bottom: 60px;
  right: 4px;
  padding: 2px 8px 3px;
  border-radius: 6px;
  background-color: rgb(66, 246, 66);
  color: black;
  border: 2px solid white;
  font-size: 8pt;
  z-index: 100;
  text-transform: uppercase;
}

section#help {
  margin-top: -2em;
  padding: 1em 3em;
  text-align: justify;
}
body.light section#help {
  background-color: whitesmoke;
}
body.dark section#help {
  background-color: #4b4b4b;
}

section#help div#help-content {
  font-size: 16pt;
}
section#help div.buttons {
  position: fixed;
  bottom: 12px;
  width: calc(100% - 2em);
  padding: 0 1em;
  left: 0;
}
body.light section#help div.buttons {background-color: #CCCCFF;}
body.dark section#help div.buttons {background-color: #000000;}
body.dark a {
  color: lightblue;
}

body.dark {
  background-color: rgb(0, 0, 0);
  color: #CCCCCC;
}
body.light {
  background-color: #CCCCCC;
  color: rgb(5, 5, 5);
}

h1, h2, h3 {
  font-weight: normal;
}
h2 {font-size: 2.2em;}
h3 {font-size: 1.65em;}

input, select, select option, textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  padding: 0.4em 1em 0.3em;
  font-size: inherit;
  border-radius: 8px;
}

button:active {
  background-color:green;
  color:white;
}

div#buttons-container {
  position: fixed;
  bottom: 4em;
  max-width: 680px;
  width: calc(100% - 4em);
  margin-top: 2em;
}
div#buttons-container button {
  margin-left: 0.5em;
}

div#buttons-container div.row {
  text-align: right;
}

/* (par exemple le bouton "préférences" */
div#buttons-container div.row button.short {
  width: 60px;
  padding: 0.1em 0.3em;
  text-align:center;
  font-size: 1.1em;
}

div#buttons-container div.row button {
  width: 140px;
}

div#buttons-container div#row1 {
  font-size: 18pt;
}

div#buttons-container div#row2 {
  font-size: 12pt;
  margin-top: 0.5em;
}


button.small {
  font-size: 0.75em;
}


.invisible { visibility: hidden; }
.hidden { display: none !important; }


label + input,
label + select {
  margin-left: 1em;
}
div.row label:first-child + input,
div.row label:first-child + select {
  margin-left: -5px;
}
div.row input[type="number"] {
  width: 60px;
}

input + span {
  margin-left: 1em;
}

div.buttons {
  margin-top: 1em;
  text-align: right;
}

.flex {
  display: flex;
}
.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.row-flex, .row {
  margin-bottom: 0.5em;
}
.row-flex label {
  flex: 0 0 160px;
}
.row label:first-child {
  display:inline-block;
  width: 160px;
}

.row-flex label + input,
.row-flex label + textarea,
.row-flex label + select {
  flex: 1 1 auto;
  margin-left: 0!important;
}
.row-flex div.err {
  flex-basis: 100%;
  margin-left: 160px;
  background-color: red;
  font-family: arial, helvetica, geneva;
  font-size: 10pt;
  color: white;
}

.row-flex input + label {
  flex: 1 1 auto;
  margin-left: 0.5em;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 2em);
  padding: 8px 1em;
  text-align: right;
  margin: 0;
}
body.light footer {
  background-color: #c1c1c1;
}
body.dark footer {
  background-color: #2a3e3e;
}
footer button {
  padding-top: 0.1em!important;
  padding-bottom: 0.2em!important;
}

/* 
  ========== STOP REPORT ==========
*/

div#ETR-container {
  position: fixed;
  z-index: 10;
  padding: 1em 2em;
  left: 100px;
  width: calc(100% - 200px - 2em);
  top: 10px;
  height: 500px ;
  background-color: white;
  box-shadow: 5px 5px 16px 0px #4f4f4f;
}

div#ETR-container h3 img {
  position:absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
}
div#ETR-container div#ETR-explication {
  font-style: italic;
  font-size: 12pt;
  width: 360px;
  float: right;
  text-align: justify;
}

div#ETR-container textarea#ETR-report {
  width: calc(100% - 2em);
  height: 320px;
  padding: 0.5em;
  resize: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

div#ETR-container div.buttons {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2em);
  left: 0;
  background-color: #2a3e3e;
  padding: 8px 1em;
}

div#tools-container {
  border: 1px solid #DDDDDD;
}
div#tools-container div.tool-container {
  margin-bottom: 0.5em;
}
div#tools-container div.tool-container > a {
  display: inline-block;
  clear: both;
  padding: 0.2em 0.5em 0.3em;
  cursor: pointer;
  font-size: 1.2em;
}
div#tools-container div.tool-container > a:hover {
  background-color: green;
  color: beige;
}
div#tools-container div.tool-container > a:active {
  background-color: rgb(182, 13, 41);
  color: rgb(248, 248, 248);
}

div#tools-container div.tool-container > div.explication {
  font-size: 0.75em;
  margin-left: 40px;
}