div#clock {
  position: relative;
  display: inline-block;
  font-family: Monospace;
  font-size: 38pt;
  text-align: center;
  width: 240px;
  background-color: inherit;
  z-index: 100;
}

div#clock.big {
  position: absolute;
  left: 200px;
  top: 150px;
  text-align: center;
  font-size: 100pt;
}

div#clock.medium {
  position: absolute;
  font-size: 40pt;
  top: 7px;
  left: 100px;
}

div#clock.mini {
  position: absolute;
  font-size: 16pt;
  top: 25px;
}
body.dark div#clock {
  color: rgb(56, 207, 53);
}
body.light div#clock {
  color:rgb(63 90 202);
}