div#clock-container {
  position: absolute;

}
div#clock-container.big {
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
}
div#clock-container.big * {
  margin: 0;
}

div#clock-container.medium {
  bottom: -7px;
  left: 270px;
  z-index: 20;
}

div#clock-container.mini {
  position: absolute;
  top: 12px;
}

div#clock {
  font-family: Monospace;
  font-size: 38pt;
  text-align: center;
  width: auto;
  background-color: inherit;
  z-index: 11;
}
div#clock-container.big div#mask-clock {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vw;
  background-color: white;
  opacity: 0.6;
  z-index: 10;
}
div#clock-container:not(.big) div#mask-clock { display:none;}

div#clock-container.big div#clock {
  height: 100vw;
  line-height: calc(50vw + 30pt);
  letter-spacing: -14px;
  vertical-align: middle;
  font-size: 140pt;
  z-index: 10;
}

div#clock-container.medium div#clock {
  font-size: 40pt;
}

div#clock-container.mini div#clock {
  font-size: 16pt;
}
body.dark div#clock {
  color: rgb(56, 207, 53);
}
body.light div#clock {
  color:rgb(63 90 202);
}