div.dialog {
  position: fixed;
  top: 4vw;
  left: calc(50vw - 220px);
  width: 440px;
  background: white;
  padding: 0;
  border-radius: 1em 1em 4px 4px;
  box-shadow: 10px 10px 30px #777;
}

div.dialog div.dialog-title {
    border-radius: 1em 1em 0 0;
    border-bottom: 1px solid #CCC;
    background-color: #d3cdcd;
    padding: 1vh 4vw;
    font-size: 0.8em;
    letter-spacing: 0.3px;
    font-family: arial, helvetica, geneva;
    color: black;
    text-align: center;
}
div.dialog div.dialog-title p {
  margin: 0;
  padding: 0;
}
div.dialog div.dialog-message {
  margin-left: 14vw;
  margin-right: 4vw;
  margin-top: 2em;
  margin-bottom: 2em;
}
body.dark div.dialog-message {
  color: black;
}

div.dialog img.dialog-icon {
  position: absolute;
  top: 10vh;
  left: 2.4vw;
  width: 8vw 64px;
}
div.dialog div.buttons {
  padding: 1em 2em;
}
div.dialog div.buttons button {
  margin-left: 1em;
  border: 2px solid #CCC;
  font-size: 12pt;
}
div.dialog div.buttons button.default {
  color: white;
  background-color: rgb(85, 143, 237);
  border-color:rgb(85, 143, 237);
}
div.dialog div.buttons button.cancel {
  float: left;
  margin-left: 0;
}