div#current-work-project {
  font-size: 1.8em;
  font-weight: bold;
}
div#current-work-id {
  float: right;
  font-size: 13pt;
  font-style: italic;
  color: #d5d8e3;
}

/* section#work  */
section#current-work-container {
  position:relative;
  min-height: 200px;
  height: 356px;
  padding: 1.5em;
  border-radius: 1.2em;
}
body.dark section#current-work-container {
  background: #464747;
}
body.light section#current-work-container {
  background: #b1b6c6;
}

div#current-work-description-container {
  overflow: auto;
  max-height: 280px;
}

section#current-work-container div#current-work-content {
  font-size: 18pt;
  margin-top: 0.5em;
}
section#current-work-container div#current-work-times {
  position: absolute;
  left: 0px;
  bottom: 4px;
  width: 100%;
  text-align: center!important;
  font-size: 15pt;
}
body.dark div#current-work-times {
  border-top: 1px solid #777;
}
body.light div#current-work-times {
  border-top: 1px solid #848cb0;
}

section#current-work-container div#current-work-times span {
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  width: 80px;
  text-align: center;
  /* border: 1px solid green; */
}
section#current-work-container div#current-work-times div.libelles span {
  font-size: 9pt;
}

section#editing div#editing-form-task {
  font-size: 1.2em;
}

div.editing-form-task {
  border-radius: 0.5em;
  padding: 1em 1em 4px 1em;
  margin-bottom: 0.5em;
}
body.dark div.editing-form-task {
  border: 1px solid #CCC;
  background-color: #585959;
}
body.light div.editing-form-task {
  border: 1px solid #5790cd;
  background-color: #afced4
}

div.editing-form-task input.form-task-project {
  color: white;
  font-size: 1.1em;
  padding:4px 0.5em;
}
body.dark div.editing-form-task input.form-task-project {
  font-weight: bold;
  background-color: #6d1c7c;
}
body.light div.editing-form-task input.form-task-project {
  background-color: #5790cd;
}

div.editing-form-task textarea.form-task-content {
  height: 40px;
}
div.editing-form-task textarea.form-task-content:focus {
  font-size: 1.1em;
  height: 180px;
}
div.editing-form-task input.form-task-folder,
div.editing-form-task input.form-task-script {
  font-size: 11pt;
}

div.editing-form-task div.btns {
  text-align: right;
  margin-top: -1em;
}
div.editing-form-task div.btns button {
  border: none;
  border-radius: none;
  padding: 0 4px;
  font-size: 12pt;
}

body.dark div.editing-form-task div.btns button {
  background-color: inherit;
  color: white;
}
body.light div.editing-form-task div.btns button {
  background-color: inherit;
  color: black;
}
body.dark div.editing-form-task div.btns button:active {
  background-color: whitesmoke;
  color: black;
}
body.light div.editing-form-task div.btns button:active {
  background-color: rgb(4, 202, 4);
  color: white;
}

div.editing-form-task input.form-task-duration {
  width: 60px;
}

div.editing-form-task.off {
  opacity: 0.5;
}