div#current-work-project {
  font-size: 1.8em;
  font-weight: bold;
}
div#current-work-id {
  float: right;
  font-size: 13pt;
  font-style: italic;
  color: #d5d8e3;
}

/* section#work  */
section#current-work-container {
  position:relative;
  min-height: 200px;
  padding: 1.5em;
  border-radius: 1.2em;
}
body.dark section#current-work-container {
  background: #464747;
}
body.light section#current-work-container {
  background: #b1b6c6;
}


section#current-work-container div#current-work-content {
  font-size: 18pt;
  margin-top: 0.5em;
}
section#current-work-container div#current-work-times {
  position: absolute;
  left: 0px;
  bottom: 4px;
  width: 100%;
  text-align: center!important;
  font-size: 15pt;
}
body.dark div#current-work-times {
  border-top: 1px solid #777;
}
body.light div#current-work-times {
  border-top: 1px solid #848cb0;
}

section#current-work-container div#current-work-times span {
  margin-left: 8px;
  margin-right: 8px;
  display: inline-block;
  width: 80px;
  text-align: center;
  /* border: 1px solid green; */
}
section#current-work-container div#current-work-times div.libelles span {
  font-size: 9pt;
}

section#editing div#editing-task-container {
  font-size: 1.2em;
}

div.editing-task-container {
  border: 1px solid #CCC;
  border-radius: 0.5em;
  padding: 1em;
}